body{
margin: 0;
}

.top-container {
  font-size: 1.3rem;
  font-family: 'Handlee', cursive;
  padding: 1% 5% 1% 5%;
  color: #161D6F;
  background-color: #F4F9F9;
}

.Personal-information{
  padding: 5% 5% 5% 5%;
  font-size: 115%;
}

.Schooling{
padding: 5% 5% 5% 5%;
font-size: 90%
}

.Educational-Qualification{
padding: 3% 5% 5% 5%;
font-size: 125%

}

.Educational-Qualification-BDS{
padding: 5% 5% 5% 5%;
font-size: 115%
}

.Conferences-attended{
padding: 5% 5% 5% 5%;
font-size: 115%
}

.Awards-received{
padding: 5% 5% 5% 5%;
font-size: 115%
}

.Areas-of-interest{
padding: 5% 5% 5% 5%;
font-size: 115%
}

.Appeared-for-NEET-MDS{
padding: 5% 5% 5% 5%;

}

.table-1{
  border-spacing: 30px;
  font-size: 130%;
  padding-left: 30%;

}

.table-2{
  border-spacing: 30px;
}

.table-3{
  border-spacing: 30px;
}

p{
  margin: 1%;
  font-family: 'Abel', sans-serif;

}

li{
  margin: 1%;
}

h2{
  font-family: 'Mukta', sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 190%;
}

.qr-code{
  top:7;
  right: 50%;
  width: 100px;
  height:120px;
}

hr{
  border:none;
border-top:10px dotted;
height:10px;
width:5%;
color: #CCF2F4;
margin: 1% auto;
}

.last-container{
  background-color: #F4F9F9;
  padding: 1% 5% 1% 90%;
}

h4{
  display: inline;
}

li{
  padding: .5%;
}
