body{
margin: 0;
}

.top-container {
  font-size: 1.3rem;
  font-family: 'Handlee', cursive;
  padding: 1% 5% 1% 5%;
  color: #161D6F;
  background-color: #F4F9F9;
}

.Personal-information{
  position: absolute;
  background-color: #F4F9F9;
  height: 112%;
 width: 25%;
  left: 71%;
  padding: 3% 3% 1% 1%;
}

.Schooling{
padding: 5% 5% 5% 5%;
height: 50%;
width: 20%;
}

.Educational-Qualification{
padding: 3% 5% 5% 5%;
height: 30%;
width: 50%;
}

.Educational-Qualification-BDS{
padding: 5% 5% 5% 5%;
height: 29%;
width: 50%;
}

.Conferences-attended{
padding: 5% 5% 5% 5%;
height: 29%;
width: 60%;
}

.Awards-received{
padding: 5% 5% 5% 5%;
height: 29%;
width: 50%;
}

.Areas-of-interest{
padding: 5% 5% 5% 5%;
height: 29%;
width: 20%;
}

.Appeared-for-NEET-MDS{
padding: 5% 5% 5% 5%;
height: 29%;
width: 20%;
}

.table-1{
  border-spacing: 30px;
}

.table-2{
  border-spacing: 30px;
}

.table-3{
  border-spacing: 30px;
}

p{
  margin: 30px;
  font-family: 'Abel', sans-serif;
}

li{
  margin: 30px;
}

h2{
  font-family: 'Mukta', sans-serif;
}

.qr-code{
  position: absolute;
  top:70%;
  left: 30%;
  width: 150px;
  height:180px;
}

.hr-1{
  border:none;
  position: absolute;
border-top:10px dotted;
height:10px;
width:5%;
left: 50%;
color: #CCF2F4;
margin: 1px 10px;
}

.hr-2{
  border:none;
  position: absolute;
border-top:10px dotted;
height:10px;
width:5%;
left: 50%;
color: #CCF2F4;
margin: 1px 10px;
}

.hr-3{
  border:none;
  position: absolute;
border-top:10px dotted;
height:10px;
width:5%;
left: 50%;
color: #CCF2F4;
margin: 1px 10px;
}

.hr-4{
  border:none;
  position: absolute;
border-top:10px dotted;
height:10px;
width:5%;
left: 50%;
color: #CCF2F4;
margin: 1px 10px;
}

.hr-i{
  border:none;
  position: absolute;
border-top:10px dotted;
height:10px;
width:5%;
right: 60%;
color: #CCF2F4;
margin: 1px 10px;
}

.hr-ii{
  border:none;
  position: absolute;
border-top:10px dotted;
height:10px;
width:5%;
right: 60%;
color: #CCF2F4;
margin: 1px 10px;
}
